.html {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}

.body {
    overflow: hidden;
}

.page-header {
    display: flex;
    align-items: center;
    padding: 20px 40px;
    line-height: 25px;
}

.page-header__home-icon {
    width: 25px;
    height: 25px;
    opacity: 0.8;
}

.text--hover:hover {
    cursor: pointer;
}

.text--opacity:hover {
    opacity: 1;
}

.page-header__menu-block--gray {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    padding: 15px;
    color: #555555;
}

.page-header__menu-item {
    padding: 6px 18px;
    font-weight: bold;
}

.page-header__menu-item:hover {
    cursor: pointer;
    background-color: #faf0e6;
    box-shadow: 0 10px 20px #faf0e6;
    border-radius: 5px;
}

.page-content__main {
    display: flex;
    padding: 20px 40px;
    position: relative;
    min-height: 60vh;
    align-items: center;
    background-color: #E6DACE;
    justify-content: center;
    cursor: default;
}

.left-column {
    display: flex;
    flex-flow: column;
}

.left-column__my-links {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    line-height: 2;
}

.right-column {
    display: flex;
    flex-flow: column;
    flex: 1;
    margin-left: 30px;
    padding: 30px;
    text-align: justify;
    max-width: 35vw;
}

.right-column__text {
    letter-spacing: 0.3px;
}

.text--big {
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 20px;
}

.text--medium {
    font-size: large;
    font-weight: bold;
    margin-bottom: 15px;
}

.text--normal {
    margin-bottom: 10px;
}

.text--link:hover {
    color: darkblue;
    cursor: pointer;
}

.page-footer {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    line-height: 25px;
    cursor: default;
    background-color: #E6DACE;
}

.page-footer__copyright {
    display: flex;
}

.text--bold {
    font-weight: bold;
}

.page-footer__contact-block {
    display: flex;
    align-items: center;
}

.page-footer__contact-icon {
    display: flex;
    align-items: center;
    height: 20px;
}

.page-footer__contact-item {
    margin-left: 20px;
}

.text--italic {
    font-style: italic;
}

.text--margin {
    margin-top: 15px;
}

@media only screen and (min-width: 940px) {
    .page-content__technologies {
        display: grid;
        padding: 60px 60px 30px 60px;
        cursor: default;
        grid-template-rows: repeat(9, 30px);
        grid-template-columns:  200px 20px minmax(200px, 600px);
        row-gap: 5px;
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 940px) {
    .page-content__technologies {
        grid-template-rows: repeat(9, 40px);
        display: grid;
        padding: 60px 60px 30px 60px;
        cursor: default;
        grid-template-columns:  200px 20px minmax(200px, 600px);
        row-gap: 5px;
        justify-content: center;
        flex-wrap: wrap;
    }
}

.page-content__technologies-header {
    grid-column-start: 1;
    grid-column-end: span 3;
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: center;
    justify-self: center;
    flex-wrap: nowrap;
}

.page-content__technologies-left {
    display: grid;
    grid-template-rows: repeat(8, 30px);
    grid-column: 1/2;
    color: white;
    font-weight: bold;
    place-items: center end;
}

.page-content__technologies-left-header {
    padding: 5px;
    background-color: darkblue;
}

.page-content__technologies-left-header:nth-of-type(2) {
    grid-row: 6/7;
}

.page-content__technologies-left-header:nth-of-type(3) {
    grid-row: 8/9;
}

.page-content__technologies-right {
    display: grid;
    grid-template-rows: repeat(auto-fill, 30px);
    grid-column: 3/4;
    grid-row: 2/12;
    align-items: center;
    justify-content: start;
    color: black;
    font-weight: normal;
}

.page-content__technologies-right-header {
    font-size: large;
    font-weight: 600;
}

.page-content__technologies-list {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    min-width: 350px;
}

.page-content__technologies-right-header:nth-of-type(1) {
    grid-row: 1/2;
}

.page-content__technologies-list:nth-of-type(1) {
    grid-row: 2/3;
}

.page-content__technologies-right-header:nth-of-type(2) {
    grid-row: 3/4;
    align-self: end;
}

.page-content__technologies-list:nth-of-type(2) {
    grid-row: 4/5;
    align-self: end;
}

.page-content__technologies-list:nth-of-type(3) {
    grid-row: 6/7;
}

.page-content__technologies-list:nth-of-type(4) {
    grid-row: 8/9;
}

.page-content__technologies-list li {
    display: block;
    margin-right: 20px;
}

.page-content__technologies-left-border {
    background-color: #00008b;
    grid-row: 1/10;
    grid-column: 2/3;
    margin: 25px 18px 25px 0;
}

.page-content__technologies-list li::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    margin-bottom: 5px;
    background-color: darkblue;
    opacity: 0.5;
    margin-right: 8px;
}
