.html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, ::before, ::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.body {
  overflow: hidden;
  font-size: 16px;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  padding: 20px 40px 10px 40px;
  line-height: 25px;
  background-color: #FFFFFF;
}

.page-header__home-icon {
  width: 25px;
  height: 25px;
  opacity: 0.8;
}

.page-header__menu-block-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 1rem;
}

.page-header__menu-item {
  padding: 6px 18px;
  font-weight: bold;
  text-decoration: none;
  color: #555555;
}

.page-header__menu-item:hover {
  cursor: pointer;
  background-color: #FAF0E6;
  -webkit-box-shadow: 0 10px 20px #FAF0E6;
          box-shadow: 0 10px 20px #FAF0E6;
  border-radius: 5px;
}

@media only screen and (max-width: 599px) {
  .page-header__menu-block-right {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 599px) {
  .page-content__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    padding: 1rem 2rem;
    background-color: #E6DACE;
    cursor: default;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .left-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .left-column__my-photo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    max-width: 30vw;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .left-column__my-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    background-color: #FFFFFF;
    line-height: 1.5;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 2rem;
  }
  .right-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: justify;
  }
  .right-column__text {
    letter-spacing: 0.3px;
    text-align: center;
  }
  .text--normal {
    text-align: justify;
  }
}

.text--link {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

.text--link:hover {
  -webkit-transform: scale(1.08, 1.08);
          transform: scale(1.08, 1.08);
  -webkit-transition: 1.5s ease-out;
  transition: 1.5s ease-out;
}

@media only screen and (min-width: 600px) {
  .page-content__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    padding: 20px 40px;
    min-height: 60vh;
    background-color: #E6DACE;
    cursor: default;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .left-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .left-column__my-photo {
    max-width: 30vw;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .left-column__my-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    background-color: #FFFFFF;
    line-height: 2;
  }
  .right-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-left: 30px;
    padding: 2rem;
    text-align: justify;
    max-width: 35vw;
  }
  .right-column__text {
    letter-spacing: 0.3px;
  }
}

.text--hover:hover {
  cursor: pointer;
}

.text--opacity:hover {
  opacity: 1;
}

.text--link:hover {
  color: #00008B;
  cursor: pointer;
}

.text--big {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.text--medium {
  font-size: 1.15rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.text--normal {
  margin-bottom: 10px;
}

.text--italic {
  font-style: italic;
}

.text--bold {
  font-weight: bold;
}

.text--margin {
  margin-top: 15px;
}

@media only screen and (min-width: 600px) {
  .page-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 20px 40px;
    line-height: 25px;
    cursor: default;
    background-color: #E6DACE;
  }
  .page-footer__copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .page-footer__contact-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
  }
  .page-footer__contact-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    height: 20px;
  }
  .page-footer__contact-item {
    margin-left: 20px;
  }
}

@media only screen and (max-width: 599px) {
  .page-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 1rem;
    line-height: 1.5;
    cursor: default;
    background-color: #E6DACE;
  }
  .page-footer__copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .page-footer__contact-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    margin: 1rem 0;
  }
  .page-footer__contact-icon {
    height: 20px;
  }
  .page-footer__contact-item {
    margin-left: 1rem;
  }
}

.page-content__technologies {
  position: relative;
}

.page-content__technologies-header {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 3;
      grid-column-end: span 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.page-content__technologies-left {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-rows: (30px)[8];
      grid-template-rows: repeat(8, 30px);
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  color: #FFFFFF;
  font-weight: bold;
  place-items: center end;
}

.page-content__technologies-left-header {
  padding: 5px;
  background-color: #00008B;
}

.page-content__technologies-left-header:nth-of-type(2) {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
}

.page-content__technologies-left-header:nth-of-type(3) {
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  grid-row: 8/9;
}

.page-content__technologies-left-border {
  background-color: #00008B;
  -ms-grid-row: 1;
  -ms-grid-row-span: 9;
  grid-row: 1/10;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  margin: 25px 18px 25px 0;
}

.page-content__technologies-right {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-rows: (30px)[auto-fill];
      grid-template-rows: repeat(auto-fill, 30px);
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 10;
  grid-row: 2/12;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  color: #000000;
  font-weight: normal;
}

.page-content__technologies-right-header {
  font-size: large;
  font-weight: 600;
}

.page-content__technologies-right-header:nth-of-type(1) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.page-content__technologies-right-header:nth-of-type(2) {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.page-content__technologies-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.page-content__technologies-list:nth-of-type(1) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.page-content__technologies-list:nth-of-type(2) {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.page-content__technologies-list:nth-of-type(3) {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
}

.page-content__technologies-list:nth-of-type(4) {
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  grid-row: 8/9;
}

.page-content__technologies-list li {
  display: block;
  margin-right: 20px;
}

.page-content__technologies-list li::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  margin-bottom: 5px;
  background-color: #00008B;
  opacity: 0.5;
  margin-right: 8px;
}

@media only screen and (min-width: 600px) {
  .page-content__technologies {
    display: -ms-grid;
    display: grid;
    padding: 60px 60px 0 60px;
    cursor: default;
    -ms-grid-rows: (30px)[9];
        grid-template-rows: repeat(9, 30px);
    -ms-grid-columns: 200px 20px minmax(200px, 600px);
        grid-template-columns: 200px 20px minmax(200px, 600px);
    row-gap: 5px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    border-bottom: 4rem solid #E6DACE;
  }
}

@media only screen and (max-width: 599px) {
  .page-content__technologies {
    -ms-grid-rows: (40px)[9];
        grid-template-rows: repeat(9, 40px);
    display: -ms-grid;
    display: grid;
    padding: 60px 20px 0 20px;
    cursor: default;
    -ms-grid-columns: 100px 20px minmax(200px, 600px);
        grid-template-columns: 100px 20px minmax(200px, 600px);
    row-gap: 5px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    border-bottom: 4rem solid #E6DACE;
  }
  .page-content__technologies-list {
    max-width: 100em;
    min-width: 30px;
  }
}

@media only screen and (min-width: 600px) {
  .page-content__technologies-list {
    min-width: 350px;
  }
}

.page-section__offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 4rem solid #E6DACE;
}

.page-section__offer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 4rem;
}

.page-section__offer-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  max-width: 50rem;
  margin: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: default;
}

.page-section__offer-item-svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 150px;
  margin-bottom: 1rem;
}

.page-section__offer-item-svg > svg {
  max-height: 150px;
  max-width: 35vw;
}

.page-section__offer-item-text {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 30rem;
  text-align: center;
  line-height: 1.5rem;
}

@media only screen and (max-width: 599px) {
  .page-section__offer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 2rem 0 0 0;
    padding: 0 1rem;
  }
  .page-section__offer-header {
    text-align: center;
  }
  .page-section__offer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
  }
  .page-section__offer-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    margin: 2rem 1rem;
    cursor: default;
  }
  .page-section__offer-item-svg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-height: 150px;
    margin-bottom: 1rem;
  }
  .page-section__offer-item-svg > svg {
    max-height: 150px;
    max-width: 50vw;
  }
  .page-section__offer-item-text {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
    line-height: 1.5rem;
  }
}

.svg-1:hover svg > path:nth-of-type(7), .svg-1:hover path:nth-of-type(8), .svg-1:hover path:nth-of-type(9), .svg-1:hover path:nth-of-type(10),
.svg-1:hover path:nth-of-type(11), .svg-1:hover path:nth-of-type(12), .svg-1:hover path:nth-of-type(13), .svg-1:hover path:nth-of-type(14), .svg-1:hover path:nth-of-type(15),
.svg-1:hover path:nth-of-type(16), .svg-1:hover path:nth-of-type(17), .svg-1:hover path:nth-of-type(18) {
  fill: #00008B;
}

.svg-2:hover {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: swing;
          animation-name: swing;
}

.svg-3:hover {
  -webkit-animation: grow3 1.3s infinite linear;
          animation: grow3 1.3s infinite linear;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes grow3 {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

@keyframes grow3 {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

.svg-4:hover svg > rect[id="blue"] {
  fill: #FF0000;
  position: relative;
  -webkit-animation: mymove;
          animation: mymove;
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
  -webkit-transition: 2s;
  transition: 2s;
}

@-webkit-keyframes mymove {
  from {
    left: 0px;
  }
  to {
    left: 20px;
  }
}

@keyframes mymove {
  from {
    left: 0px;
  }
  to {
    left: 20px;
  }
}

.svg-5:hover svg > line {
  stroke-width: 10;
  fill: #FF0000;
}

.svg-5:hover svg > circle[fill="#6c63ff"] {
  fill: #FF0000;
}

.svg-6:hover svg > path[id="rect1"], .svg-6:hover path[id="rect2"], .svg-6:hover path[id="rect3"] {
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-name: changeColors;
          animation-name: changeColors;
}

@-webkit-keyframes changeColors {
  25% {
    fill: #00008B;
  }
  50% {
    fill: #E6DACE;
  }
  75% {
    fill: #555555;
  }
}

@keyframes changeColors {
  25% {
    fill: #00008B;
  }
  50% {
    fill: #E6DACE;
  }
  75% {
    fill: #555555;
  }
}

@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.page-section__customers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding: 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.page-section__customers-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.page-section__customers-item {
  height: 5rem;
  max-width: 50em;
  padding: 3rem;
  cursor: default;
}
/*# sourceMappingURL=style.css.map */